
.opacity-light  {

  picture {
    position: relative;
    display: block !important;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.opacity-left picture:before {
    background: linear-gradient(270deg,transparent,hsla(0,0%,96.1%,.9));
  }
  &.opacity-right picture:before{
    background: linear-gradient(270deg,hsla(0,0%,96.1%,.9),transparent);
  }
  &.opacity-top picture:before{
    background: linear-gradient(180deg,hsla(0,0%,96.1%,.9),transparent);
  }
  &.opacity-bottom picture:before{
    background: linear-gradient(180deg,transparent,hsla(0,0%,96.1%,.9));
  }
  &.opacity-all picture:before{
      background: hsla(0,0%,96.1%,.9);
  }

}

.opacity-dark {

  picture {
    position: relative;
    display: block !important;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.opacity-left picture:before {
    background: linear-gradient(270deg,transparent,#000);
  }
  &.opacity-right picture:before{
    background: linear-gradient(270deg,#000,transparent);
  }
  &.opacity-top picture:before{
    background: linear-gradient(180deg,#000,transparent);
  }
  &.opacity-bottom picture:before{
    background: linear-gradient(180deg,transparent,#000);
  }
  &.opacity-all picture:before{
    background: hsl(0deg 0% 0% / 47%);
  }

}


.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.align-self-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  &.align-self-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.align-self-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}



