//whatsapp layout 2
.whatsapp-layout-2 {
  #dropdownMenuWhatsapp {
    &:before {
      display: none;
    }
  }
  .number-whatsapp {
    text-align: center;
    i{
      border-radius: 50%;
      padding: 5px;
      padding-left: 7px;
      padding-right: 7px;
      background-color: #06d755;
      font-size: 18px;
      color: #ffffff !important;
      margin-right: 7px;
    }
  }
}

//Generic whatsapp fixed
.whatsapp-fixed{
  position: fixed;
  z-index: 999;
}

//whatsapp layout 3
#whatsappImageFixed {
  position: fixed;
  background: #06d755;
  width: 39px;
  height: 137px;
  color: #ffffff;

  .content-whatsapp {
    position: relative;

    .dropright, .dropleft {
      padding: 0;
      position: relative;
      bottom: -37px;

      #dropdownMenuWhatsapp {
        padding: 7px;

        &:before {
          display: none;
        }
      }

      .dropdown-menu-whatsapp {
        top: -10px !important;
      }
    }
  }

  #WhatsappimageText {
    transform: rotate(-90deg);
    margin-top: 43px;
    margin-left: -18px;

    a.whatsapp-layout-2{
      position: relative;
      bottom: -43px;
      left: 7px;
    }
  }


  .icon-whatsapp {
    color: #fff;
    font-size: 27px;
  }
}

//whatsapp layout 4
#whatsappIconFixed {
  right: 10px;
  top: 25%;

  .dropdown-menu-whatsapp {
    top: 11px !important;
  }

  .content-background {
    color: white;
    background-color: #06d755;
    align-items: center;
    display: flex !important;
    font-size: 29px;
    width: 60px;
    height: 60px;
    display: block;
    box-shadow: 2px 2px 12px #aaa;
    border-radius: 48%;

    a{
      margin: 0 auto;
    }
  }

  .icon-whatsapp {
    color: #ffffff;
    font-size: 40px;
  }
}
