//whatsapp layout 2
.whatsapp-layout-2 {
  #dropdownMenuWhatsapp {
    &:before {
      display: none;
    }
  }

  .number-whatsapp {
    text-align: center;
  }
}

//whatsapp layout 3
#whatsappFixedImage {
  position: absolute;
  background: $primary;
  width: 39px;
  height: 137px;
  color: #ffffff;

  .content-whatsapp {
    position: relative;

    .dropright, .dropleft {
      padding: 0;
      position: relative;
      bottom: -93px;

      #dropdownMenuWhatsapp {
        padding: 7px;

        &:before {
          display: none;
        }
      }

      .dropdown-menu-whatsapp {
        top: -10px !important;
      }
    }
  }

  #WhatsappimageText {
    transform: rotate(-90deg);
    position: absolute;
    top: 48px;
    right: -20px;
  }

  .rotate {

  }

  .icon-whatsapp {
    color: #fff;
    font-size: 27px;
  }
}

//whatsapp layout 4
#whatsappFixed {
  position: fixed;
  right: 10px;
  top: 25%;
  z-index: 999;

  .dropdown-menu-whatsapp {
    top: 11px !important;
  }

  .content-background {
    text-align: center;
    color: white;
    background-color: $primary;
    padding: 3px;
    border-radius: 48%;
    font-size: 29px;
    width: 78px;
    height: 78px;
    display: block;
    box-shadow: 2px 2px 12px grey;
  }

  .icon-whatsapp {
    color: #ffffff;
    font-size: 56px;
  }
}
