#autocompleteLayout2 {

  .row {
    align-items: start !important;
  }
  
  .collapse {
    width: 49vw !important;
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: inherit;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #5a5a5a4f;
    }


    #word {
      font-size: 0.8em;
      padding: 0.3em 1em;
      background-color: #ffffff;
      cursor: pointer;
      width: 100%;
    }

    /* option active styles */
    #word:hover, #word:focus {
      color: #ffffff;
      background-color: $primary;
      outline: 0 none;
    }
  }
}